This XML file does not appear to have any style information associated with it. The document tree is shown below.
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://www.mediafire.com/file/z7yol9ogxhvdyzx/%C4%90%C4%83ng+Vippro.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://ipa-apps.me/Images/image.png</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>TikTok</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.TikTok.ipa-apps1gk8b6c9</string>
<key>bundle-version</key>
<string>1</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>TikTok</string>
</dict>
</dict>
</array>
</dict>
</plist>
